* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_background {
    background-color: rgb(32, 32, 32);
}

.top-menu-bar {
    position: absolute;
    display: flex;
    background-color: rgb(51, 51, 51);
    height: 65px;
    width: 100vw;
}

.menu-button {
    position: fixed;
    display: flex;
    width: 25px;
    height: 20px;
    align-items: center;
    top: 19px;
    left: 25px;
}

.logo {
    position: fixed;
    display: flex;
    top: 14px;
    left: 72px;
    width: 120px;
}

.logo:hover,
.menu-button:hover,
.search-icon:hover {
    cursor: pointer;
}

.middle-side {
    position: absolute;
    display: flex;
    top: 12px;
    left: 120px;
    padding-left: 20vw;
    align-items: center;
    justify-content: center;
}

.search-type-area {
    /* border-radius: 30px 0px 0px 30px; */
    padding-left: 20px;
}

.search-box>input {
    color: white;
    height: 40px;
    font-size: 20px;
    width: 30vw;
    border: none;
    background-color: rgb(32, 32, 32);
    padding-right: 5px;
    padding-left: 20px;
}

input:focus {
    outline-style: solid;
    outline-width: 1px;
    outline-color: rgb(0, 89, 255);
}

.search-icon {
    width: 30px;
}

.side-bar {
    position: fixed;
    background-color: rgb(51, 51, 51);
    width: 250px;
    height: 100vh;
    z-index: -1;
}

.small-sidebar {
    width: 90px;
}

.Home {
    position: absolute;
    z-index: 1;
    top: 90px;
    left: 30px;
    width: 30px;
}